{% extends "layout.html" %}
{% block content %}

<div class="container content-section">
  <h1 class="bg-dark-CodeHube text-white p-2">Welkom bij CodeHube</h1>
  <p>
    Welkom bij Web CodeHube, het platform voor het leren en beheersen van programmeren. Onze intuïtieve en gemakkelijk te volgen tutorials zullen je begeleiden in elke stap van je leerproces. Alles wat je nodig hebt, is toewijding, en je zult al snel een programmeerexpert worden!
  </p>
  <hr class="bg-dark-CodeHube">
  <h2 class="bg-primary-CodeHube text-white p-2">Vragen:</h2>
  <ul class="nobull">
    <li class="bg-light p-2 card">
      <strong>Hoeveel mensen hebben aan dit project gewerkt?</strong><br>
      Dit project is gemaakt door één persoon, genaamd 'Ahmad Dibo', een 14/15-jarige uit Syrië. Hij woont momenteel in Gelderland, Nederland. Neem contact op via <a href="mailto:codehube211@gmail.com">codehube211@gmail.com</a>.
    </li>
    <li class="bg-light p-2 card">
      <strong>Wat is het doel van CodeHube?</strong><br>
      Het doel van CodeHube is om een educatief platform te bieden waar zowel beginners als ervaren programmeurs kunnen leren, oefenen en groeien in hun programmeervaardigheden.
    </li>
    <li class="bg-light p-2 card">
      <strong>Heeft CodeHube tips nodig?</strong><br>
      Natuurlijk, alle tips zijn welkom bij CodeHube. Jouw input wordt gewaardeerd en draagt bij aan de verbetering van ons platform.
    </li>
    <!-- Voeg hier nog 6 andere vragen en antwoorden toe -->
  </ul>
</div>

<style>
  /* Voeg hier de stijlinformatie toe die je hebt gegeven */
</style>

{% endblock content %}
