body::before {
    display: block;
    content: '';
    height: 60px;
}

.card {
    transition: 0.7s ease;
    box-shadow: 0 5px 15px rgba(1 1 1/ 15);
    border-radius: 5px;
    margin: 5px;

}

.card:hover {
    transform: scale(1.1);
}

.lesson {
    box-shadow: 0 5px 15px rgba(200 200 200/ 15);
    border-radius: 5px;
    border: 1px solid #fff;

}

.post:hover {
    /* transform: scale(1.1); */
    opacity: 0.9;
}

.button_width {
    min-width: 120px;
    max-width: 120px;
}

.article-img {
    height: 65px;
    width: 65px;
    margin-right: 8px;
}

.user-img {
    height: 175px;
    width: 175px;
    margin-right: 8px;
}

.link {
    text-decoration: none;
}

.nobull {
    list-style-type: none;
}

.arabic-sc {
    font-family: 'Rakkas', cursive;
}

.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
}


.bg-dark-CodeHube{
    color: #161a1d;
    background-color:#161a1d ;
}

.bg-primary-CodeHube{
    background-color: #4c91f8;
}

#flash-messages {
    position: fixed;       /* zweeft boven alles */
    top: 20px;
    right: 20px;
    z-index: 9999;         /* altijd boven andere elementen */
    display: flex;
    flex-direction: column;
    gap: 10px;             /* afstand tussen messages */
    pointer-events: none;  /* klikken gaat door naar elementen eronder */
}

.flash-message {
    pointer-events: all;   /* zodat je eventueel close button kunt gebruiken */
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.5s ease, transform 0.5s ease;
    min-width: 250px;
    max-width: 300px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

