{% extends "layout.html"%}
{% block content %}
<div class="container-fluid bg-secondary">
    <div class="container">
        <div class="row p-5">
            <div class="col-6">
                <img style="max-width: 250px;" class="img-fluid" src="{{ course.icon.url }}" alt="">
            </div>
            <div class="col-6">
                <span class="lead text-light">{{course.description}}</span>
            </div>
        </div>
    </div>
</div>
<section class="bg-light">
    <div class="container p-5">
        <div class="row mb-5 ">
        </div>
        <div class="row">
            {% for lesson in lessons %}
            <div class="col-sm-12 col-md-6 col-lg-4 pb-5 d-flex align-items-stretch">
                <div class="card lesson">
                    <img src="{{ lesson.thumbnail.url }}" class="card-img">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">
                            <a class="text-decoration-none text-dark"
                                href="{% url 'view_lesson' lesson_slug=lesson.slug course_slug=lesson.course.slug %}">{{lesson.title}}</a>
                        </h5>
                        <span><img class="article-img rounded-circle"
                                src="{{ lesson.course.profile.picture.url }}" alt="">By:
                            <a href="#"
                                class="link">{{lesson.course.author}}</a></span>
                        <span class="text-muted">On: {{lesson.created_at|date:"%Y-%m-%d"}}</span>

                    </div>
                </div>
            </div>
            {% endfor %}


        </div>
    </div>
</section>

{% endblock content%}